<div class="w-full py-5 mb-8 border-b">
  <header class="w-full mx-auto lg:max-w-5xl">
    <div class="flex items-center justify-between">
      <a href="" class="w-10 h-10">
        <svg viewBox="0 0 500 500" focusable="false" class="w-full">
          <rect width="500" height="500" rx="75" fill="#0042DA"></rect>
          <rect x="438.709" y="170.968" width="64.5161" height="290.323" rx="32.2581"
            transform="rotate(90 438.709 170.968)" fill="#FF8E20"></rect>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M93.5481 235.484C111.364 235.484 125.806 221.041 125.806 203.226C125.806 185.41 111.364 170.968 93.5481 170.968C75.7325 170.968 61.29 185.41 61.29 203.226C61.29 221.041 75.7325 235.484 93.5481 235.484Z"
            fill="#FF8E20"></path>
          <rect x="61.29" y="332.259" width="64.5161" height="290.323" rx="32.2581"
            transform="rotate(-90 61.29 332.259)" fill="white"></rect>
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M406.451 267.742C388.635 267.742 374.193 282.184 374.193 300C374.193 317.815 388.635 332.258 406.451 332.258C424.267 332.258 438.709 317.815 438.709 300C438.709 282.184 424.267 267.742 406.451 267.742Z"
            fill="white"></path>
        </svg>
      </a>
      <div class="flex items-center justify-end w-full gap-4 header-btn">
        <button (click)="popUpSet()" class="flex items-center gap-2 px-8 py-2 font-medium bg-gray-100 rounded-lg sign-up-btn hover:bg-gray-200">
          <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4" stroke-width="2px"
            stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" fill="none">
            <circle cx="12" cy="12" r="3"></circle>
            <path
              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
            </path>
          </svg>
          <span class="b-icon">
            Settings & Members
          </span>
        </button>
        <button (click)="menuOffOn()" class="flex items-center gap-2 px-8 py-2 font-medium border rounded-lg sign-up-btn hover:bg-gray-100">
          <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4" fill="none" stroke-width="2px"
            stroke-linecap="round" stroke-linejoin="round">
            <line x1="22" y1="12" x2="2" y2="12"></line>
            <path
              d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
            </path>
            <line x1="6" y1="16" x2="6.01" y2="16"></line>
            <line x1="10" y1="16" x2="10.01" y2="16"></line>
          </svg>
          <span class="b-icon">
            example's workspace
          </span>
        </button>
        <ul *ngIf="menu" class="dropdown">
          <li>
            <a href="#">
              <span>
                <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-cxumsd" stroke-width="2px"
                  stroke-linecap="round" stroke-linejoin="round">
                  <line x1="22" y1="12" x2="2" y2="12"></line>
                  <path
                    d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                  </path>
                  <line x1="6" y1="16" x2="6.01" y2="16"></line>
                  <line x1="10" y1="16" x2="10.01" y2="16"></line>
                </svg>
              </span> nomikhokher's workspace </a>
          </li>
          <li>
            <a href="#">
              <span>
                <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon chakra-menu__icon css-1k8v1e7"
                  stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg> </span>New workspace </a>
          </li>
          <li class="logout">
            <a href="#">
              <span>
                <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon chakra-menu__icon css-1k8v1e7"
                  stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="16 17 21 12 16 7"></polyline>
                  <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
              </span>
              Log out </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>

<div class="w-full mx-auto lg:max-w-5xl">
  <div class="w-full">
    <button (click)="popUpSet1()" class="flex items-center gap-2 px-6 py-1 font-medium bg-gray-100 rounded-lg sign-up-btn hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
      </svg>
        Create a Folder
        <span class="p-1 bg-gray-100 rounded-md">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
          </svg>
        </span>
    </button>
  </div>

  <div class="flex flex-row gap-4 btn-h">
    <div class="basis-1/4 col">
      <button class="c-n" (click)="navigate(['/', 'create']);saveTypeBot()">
        <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon c-svg" stroke-width="2px" stroke-linecap="round"
          stroke-linejoin="round">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        <h2 class="text-white" style="color:#fff;">Create a typebot</h2>
      </button>
    </div>
    <div *ngFor="let typebot of saveTypebotArray" class="p-6 basis-1/4 border rounded-lg min-h-[250px] hover:bg-gray-100 cursor-pointer">
      <div class="flex items-center justify-between">
        <button type="button" class="w-5 h-5">
          <svg viewBox="0 0 24 24" focusable="false" class="w-full" stroke-width="2px"
            stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" fill="none">
            <circle cx="12" cy="9" r="1"></circle>
            <circle cx="19" cy="9" r="1"></circle>
            <circle cx="5" cy="9" r="1"></circle>
            <circle cx="12" cy="15" r="1"></circle>
            <circle cx="19" cy="15" r="1"></circle>
            <circle cx="5" cy="15" r="1"></circle>
          </svg>
        </button>
        <span *ngIf="false">Live</span>
        <button type="button" class="p-1 border rounded-md w-7 h-7">
          <svg viewBox="0 0 24 24" focusable="false" class="w-full" stroke-width="2px"
            stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" fill="none">
            <circle cx="12" cy="12" r="1"></circle>
            <circle cx="12" cy="5" r="1"></circle>
            <circle cx="12" cy="19" r="1"></circle>
          </svg>
        </button>
      </div>
      <div class="flex flex-col items-center justify-center h-full pb-14 gap-y-4">
        <svg viewBox="0 0 24 24" focusable="false" class="w-8 h-8" stroke-width="2px" stroke-linecap="round"
          stroke-linejoin="round" fill="none">
          <path
            d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z">
          </path>
        </svg>
        <h2 class="font-medium">My typebot</h2>
      </div>
    </div>
  </div>

  <div *ngIf="popup" class="">
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div (click)="popup = false" class="fixed inset-0 transition-opacity bg-black bg-opacity-50"></div>
      <div class="fixed inset-0 z-10 w-full max-w-4xl mx-auto overflow-y-auto">
        <div class="flex items-end justify-center w-full min-h-full p-4 text-center sm:items-center sm:p-0">
          <div class="flex w-full bg-white rounded-lg">
            <div class="w-1/4 text-left border-r min-h-[585px] py-6">
              <p class="px-4 text-lg text-gray-500">example@email.com</p>
              <button type="button" (click)="myAccount($event)" class="inline-flex items-center w-full gap-2 px-4 py-2 mt-4 mb-2 text-sm font-medium text-gray-700 rounded-md active hover:bg-gray-100">
                <img class="w-5 h-5 rounded-full" src="https://avatars.githubusercontent.com/u/4618863?v=4?">
                My Account
              </button>
              <button type="button" (click)="myPreference($event)" class="inline-flex items-center w-full gap-2 px-4 py-2 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-100">
                <svg viewBox="0 0 24 24" focusable="false" class="w-5 h-5" fill="none" stroke-width="2px"
                  stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                  </path>
                </svg>
                Preferences
              </button>
              <h3 class="px-4 mt-8 mb-4 text-lg text-gray-500">Workspace</h3>
              <button type="button" (click)="mySetting($event)" class="flex items-center w-full gap-2 px-4 py-2 mb-2 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-100">
                <svg viewBox="0 0 24 24" focusable="false" class="w-5 h-5" fill="none" stroke-width="2px"
                  stroke-linecap="round" stroke-linejoin="round">
                  <line x1="22" y1="12" x2="2" y2="12"></line>
                  <path
                    d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                  </path>
                  <line x1="6" y1="16" x2="6.01" y2="16"></line>
                  <line x1="10" y1="16" x2="10.01" y2="16"></line>
                </svg>
                Setting
              </button>
              <button type="button" (click)="myMember($event)" class="flex items-center w-full gap-2 px-4 py-2 mb-2 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-100">
                <svg viewBox="0 0 24 24" focusable="false" class="w-5 h-5" fill="none" stroke-width="2px"
                  stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                Members
              </button>
              <button type="button" (click)="myBilling($event)" class="flex items-center w-full gap-2 px-4 py-2 mb-2 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-100">
                <svg viewBox="0 0 24 24" focusable="false" class="w-5 h-5" fill="none" stroke-width="2px"
                  stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                  <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                  <line x1="1" y1="10" x2="23" y2="10"></line>
                </svg>
                Billing
              </button>
            </div>
            <div class="w-3/4 px-10 py-6 text-left">
              <div *ngIf="account">
                <div class="profile">
                  <img src="https://avatars.githubusercontent.com/u/4618863?v=4?">
                  <div class="file-upload">
                    <input type="file" />
                    <svg viewBox="0 0 24 24" focusable="false" class="w-5 h-5" fill="none" stroke-width="2px"
                      stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                      <polyline points="16 16 12 12 8 16"></polyline>
                      <line x1="12" y1="12" x2="12" y2="21"></line>
                      <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
                      <polyline points="16 16 12 12 8 16"></polyline>
                    </svg>
                    Change photo
                  </div>
                  <p>.jpg or.png, max 1MB</p>
                </div>
                <form class="font-medium text-left text-gray-700 account-form">
                  <div class="field-box">
                    <label class="block mb-3">Name</label>
                    <input (input)="nameValidation($event)" type="text" class="block w-full px-3 py-2 bg-white border rounded-md focus:outline-none focus:border-blue-700 focus:ring-blue-700 sm:text-sm focus:ring-1" placeholder="nomikhokher" value="nomikhokher">
                  </div>
                  <div class="field-box tooltip">
                    <label class="block mb-3">Email address</label>
                    <input type="text" class="block w-full px-3 py-2 bg-white border rounded-md" disabled id="email" placeholder="Email@gmail.com">
                    <span class="tooltip-text">Updating email is not available</span>
                  </div>
                  <div *ngIf="accountSaveBtn" class="save-btn">
                    <button
                    type="button"
                    class="block px-4 py-2 ml-auto text-sm font-medium text-white bg-blue-700 rounded-md shadow-sm rounded-tl-md rounded-bl-md whitespace-nowrap hover:bg-blue-800">
                    save
                    </button>
                  </div>
                  <div class="field-box">
                    <label class="block my-4 text-2xl">API token</label>
                    <p class="font-normal">These tokens allow other apps to control your whole account and typebots. Be careful!</p>
                    <button
                    type="button"
                    (click)="apiTokenModal = true"
                    class="block px-4 py-2 my-4 ml-auto text-sm font-medium text-gray-700 bg-gray-100 rounded-md shadow-sm rounded-tl-md rounded-bl-md whitespace-nowrap hover:bg-gray-200">
                    Create
                    </button>
                    <div class="w-full account-table">
                      <table class="w-full text-center">
                        <thead class="border-b">
                          <tr>
                            <th class="py-2 text-base font-medium">
                              Name
                            </th>
                            <th class="py-2 text-base font-medium">
                              Created
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="pref">
                <preferences></preferences>
              </div>
              <div *ngIf="setting">
                <acc-setting></acc-setting>
              </div>
              <div *ngIf="member">
                <members></members>
              </div>
              <div *ngIf="bill">
                <billing></billing>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="popup1">
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75"></div>
      <div (click)="ClickedOut1($event)" class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex items-end justify-center p-4 text-center sec-popup sm:items-center mt-14 sm:p-0">
          <div (click)="ClickedOut1($event)" class="flex bg-white modal-box ">
            <div class="px-5 py-3 modal-popup ">
              <h4 class="flex px-3 py-3 mb-3 font-normal align-middle rounded-md justify-left wp-title">
                <svg viewBox="0 0 24 24" focusable="false" class="mt-1 mr-2 text-white">
                  <path fill="currentColor"
                    d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z">
                  </path>
                </svg>
                You need to upgrade your plan in order to
              </h4>
              <svg viewBox="0 0 500 500" focusable="false" class="my-2" style="width:30px; height:30px;">
                <rect width="500" height="500" rx="75" fill="#0042DA"></rect>
                <rect x="438.709" y="170.968" width="64.5161" height="290.323" rx="32.2581"
                  transform="rotate(90 438.709 170.968)" fill="#FF8E20"></rect>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M93.5481 235.484C111.364 235.484 125.806 221.041 125.806 203.226C125.806 185.41 111.364 170.968 93.5481 170.968C75.7325 170.968 61.29 185.41 61.29 203.226C61.29 221.041 75.7325 235.484 93.5481 235.484Z"
                  fill="#FF8E20"></path>
                <rect x="61.29" y="332.259" width="64.5161" height="290.323" rx="32.2581"
                  transform="rotate(-90 61.29 332.259)" fill="white"></rect>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M406.451 267.742C388.635 267.742 374.193 282.184 374.193 300C374.193 317.815 388.635 332.258 406.451 332.258C424.267 332.258 438.709 317.815 438.709 300C438.709 282.184 424.267 267.742 406.451 267.742Z"
                  fill="white"></path>
              </svg>
              <h3 class="mt-3 text-2xl font-bold text-left">Upgrade to <span style="color:#ff8b1a;">Personal Pro</span>
                plan</h3>
              <p class="my-4 text-lg text-left ">For solo creators who want to do even more.</p>
              <div class="flex my-3 align-bottom justify-left">
                <h5 class="text-4xl font-bold">$39 </h5>
                <span class="pt-3 text-base font-bold"> / month</span>
              </div>
              <h6 class="pt-1 mb-4 text-lg font-semibold text-left">Everything in Personal, plus:
              </h6>
              <ul class="">
                <li class="flex mb-1 align-middle justify-left text-medium">
                  <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4 mt-1 mr-2" fill="none" stroke-width="2px" stroke-linecap="round"
                    stroke-linejoin="round" role="presentation">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>Branding removed
                </li>
                <li class="flex mb-1 align-middle justify-left text-medium">
                  <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4 mt-1 mr-2" fill="none" stroke-width="2px" stroke-linecap="round"
                    stroke-linejoin="round" role="presentation">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>View incomplete submissions
                </li>
                <li class="flex mb-1 align-middle justify-left text-medium">
                  <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4 mt-1 mr-2" fill="none" stroke-width="2px" stroke-linecap="round"
                    stroke-linejoin="round" role="presentation">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>In-depth drop off analytics
                </li>
                <li class="flex mb-1 align-middle justify-left text-medium">
                  <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4 mt-1 mr-2" fill="none" stroke-width="2px" stroke-linecap="round"
                    stroke-linejoin="round" role="presentation">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>Unlimited custom domains
                </li>
                <li class="flex mb-1 align-middle justify-left text-medium">
                  <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4 mt-1 mr-2" fill="none" stroke-width="2px" stroke-linecap="round"
                    stroke-linejoin="round" role="presentation">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>Organize typebots in folders
                </li>
                <li class="flex mb-1 align-middle justify-left text-medium">
                  <svg viewBox="0 0 24 24" focusable="false" class="w-4 h-4 mt-1 mr-2" fill="none" stroke-width="2px" stroke-linecap="round"
                    stroke-linejoin="round" role="presentation">
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>Unlimited uploads
                </li>
              </ul>
              <div class="inline-block float-right btn-group mt-7">
                <button (click)="popUpSet1()"
                  class="px-4 py-2 mr-3 font-bold text-black bg-gray-200 rounded hover:bg-gray-300">
                  Cancel
                </button>
                <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-800 ">
                  Upgrade
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Create Token Modal-->
  <div *ngIf="apiTokenModal" class="relative z-10">
    <div (click)="apiTokenModal = false" class="fixed inset-0 transition-opacity bg-black bg-opacity-50"></div>
    <div class="fixed inset-0 z-10 w-full max-w-lg mx-auto">
      <div class="flex items-end justify-center w-full min-h-full p-4 text-center sm:items-center sm:p-0">
        <div class="w-full p-6 text-left bg-white rounded-lg">
          <div class="flex items-center justify-between">
            <h2 class="block text-2xl font-medium">Create Token</h2>
            <svg (click)="apiTokenModal = false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="p-1 rounded-md w-7 h-7 hover:bg-gray-100">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
          <p class="my-4 font-normal">Enter a unique name for your token to differentiate it from other tokens.</p>
          <input (input)="enableTokenBtn($event)" type="text" class="block w-full px-3 py-2 my-4 bg-white border rounded-md focus:outline-none focus:border-blue-700 focus:ring-blue-700 sm:text-sm focus:ring-1" placeholder="I.e. Zapier, Github, Make.com">
          <button disabled class="block px-4 py-2 ml-auto text-sm font-medium text-white bg-blue-700 bg-opacity-50 rounded-md shadow-sm rounded-tl-md rounded-bl-md whitespace-nowrap ">Create token</button>
        </div>
      </div>
    </div>
  </div>
  <!--Create Token Modal End-->



</div>
