<div class="flex items-center justify-between w-full gap-4 p-5 rounded-lg m-info">
  <svg viewBox="0 0 24 24" focusable="false" class="w-8 h-8 text-blue-700">
    <path fill="currentColor"
      d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm.25,5a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,12.25,5ZM14.5,18.5h-4a1,1,0,0,1,0-2h.75a.25.25,0,0,0,.25-.25v-4.5a.25.25,0,0,0-.25-.25H10.5a1,1,0,0,1,0-2h1a2,2,0,0,1,2,2v4.75a.25.25,0,0,0,.25.25h.75a1,1,0,1,1,0,2Z">
    </path>
  </svg>
  <p class="text-base text-left">Upgrade your plan to work with more team members, and unlock awesome power features 🚀</p>
  <button class="block px-4 py-2 ml-auto text-sm font-medium text-white bg-blue-700 rounded-md shadow-sm rounded-tl-md rounded-bl-md whitespace-nowrap hover:bg-blue-800" type="button">More info</button>
</div>
<h2 class="my-4 text-2xl font-bold text-left text-gray-700">Members (1/1)</h2>
<div class="w-full p-info">
  <form>
    <div class="field-box">
      <input type="text" disabled="" id="email" placeholder="Email@gmail.com">
      <input type="submit" disabled="" value="Invite" class="sub-btn">
    </div>
  </form>
  <div class="flex items-center justify-between p-2 rounded-lg profile hover:bg-gray-100">
    <div class="flex items-center justify-between gap-3">
      <img class="object-cover w-8 h-8 rounded-full" src="https://avatars.githubusercontent.com/u/4618863?v=4?">
      <div class="file-upload">
        <h5>nomikhokher</h5>
        <a href="#">nomankhokher786@gmail.com</a>
      </div>
    </div>
    <button class="block px-3 py-1 text-sm font-medium bg-gray-100 rounded-md" type="button">Admin</button>
  </div>
</div>

