<form class="flex flex-col">
  <div class="rating-reason-main mb-4">
    <label class="mb-2 font-bold block" [for]="data.options.ratingReason">{{data.options.ratingReason}}</label>
    <!-- <div id="InputToggle" *ngIf="senderView === true" class="flex items-center w-full bg-white rounded-lg shadow-lg">
      <textarea (keyup.enter)="InputView($event)" (keyup)="changeInputEvent($event)"
        id="rating-reason"
        name="rating-reason"
        class="flex-1 w-full p-4 bg-transparent focus:outline-none text-input2"
        placeholder="brief about rating..."></textarea>
      <button id="ratingReasonInputEventBtn" (click)="InputView($event)"
        class="bg-[#0042DA] app-btn-bg py-2 px-4 justify-center font-semibold rounded-md text-white focus:outline-none flex items-center disabled:opacity-50 disabled:cursor-not-allowed disabled:brightness-100 transition-all filter hover:brightness-90 active:brightness-75 my-2 ml-2 mr-2"
        disabled>
        {{data.options.labels.button}}
      </button>
    </div> -->
    <div (click)="hideInputUserView()" *ngIf="senderView === false"
      class="flex items-center justify-end w-full gap-2 receiver-view">
      <span
        class="bg-[#FF8E21] app-bg-color px-4 py-2 rounded w-full mr-2 whitespace-pre-wrap max-w-full cursor-pointer text-white">{{receiverText}}</span>
      <figure *ngIf="false" class="relative flex items-center flex-shrink-0 w-9 h-9 "><img
          class="w-full h-full rounded-full" src="./../../../assets/ViewChat/profile.png" alt=""></figure>
    </div>
  </div>
  <div class="w-fit ml-auto" *ngIf="defaultView">
    <span *ngIf="data.options.labels.left != ''"
      class="w-full mb-2 text-sm rating-label block">{{data.options.labels.left}}</span>
    <div *ngIf="data.options.buttonTypes == 'Numbers'" class="flex flex-wrap justify-end">
      <button
        *ngFor="let item of ratingArr; let index"
        class="px-4 py-2 mb-2 mr-2 font-semibold text-left transition-all border border-blue-600 rounded-md hover:bg-gray-100 focus:outline-none"
        id = 'button-svg-{{index}}'
        [attr.svg-index] = index
        (click)="selectRating($event,'button',index)"
        type="button"
        >{{index+1}}</button>
    </div>
    <div *ngIf="data.options.buttonTypes == 'Icons'" class="flex flex-wrap justify-end">
      <div *ngFor="let item of ratingArr,let index"
        class="flex items-center justify-center mb-2 mr-2 cursor-pointer rating-icon-container "
        id = 'fill-svg-{{index}}'
        [attr.svg-index] = index
        (click)="selectRating($event,'svg',index)"
        >
        <div *ngIf="data.options.customIcon.isEnabled == false">
          <svg
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgb(37 99 235)"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-10 h-10 text-blue-600 ">
            <polygon
            class="polygon"
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
            </polygon>
          </svg>
        </div>
        <div *ngIf="data.options.customIcon.isEnabled == true">
          <div *ngIf="data.options.customIcon.svg == ''">
            <svg
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="rgb(37 99 235)"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-10 h-10 text-blue-600 ">
            <polygon
            class="polygon"
              points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
            </polygon>
          </svg>
          </div>
          <div *ngIf="data.options.customIcon.svg != ''" class="custom-svg" [innerHTML]="data.options.customIcon.svg | html"></div>
        </div>
      </div>
    </div>
    <span *ngIf="data.options.labels.right != ''" class="flex items-center justify-end w-full px-4 mb-2 text-sm">
      {{data.options.labels.right}}
    </span>
    <div *ngIf="sendButton" class="flex items-center justify-end w-full">
      <button
        id="send-btn-rating"
        (click)="NextStep()"
        class="mr-2 bg-[#0042DA] app-btn-bg py-2 px-4 font-semibold rounded-md text-white focus:outline-none items-center transition-all
        my-2 ml-2"
        type="button"
      >{{data.options.labels.button}}
      </button>
    </div>
  </div>
  <div class="flex items-center justify-end w-full gap-2 receiver-view">
    <span id="received-rating-value" class="bg-[#FF8E21] app-bg-color px-4 py-2 rounded-lg mr-2 whitespace-pre-wrap max-w-full w-fit cursor-pointer text-white hidden"></span>
  </div>
</form>
